.browser-python-header {
    display: flex !important;
    padding-bottom: 8px !important;
    padding-top: 8px !important;
    padding-right: 8px !important;
    flex-direction: row !important;
    flex-shrink: 0 !important;
    align-items: center !important;
    background-color: #f6f8fa;
    border: 1px solid #d0d7de;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: -1px -1px 0;
    padding: 16px;
    box-sizing: border-box;
    color: #24292f;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI Variable, Segoe UI, system-ui, ui-sans-serif, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 14px;
    line-height: 1.5;
}

.browser-python-button {
    float: right;
    display: inline;
    margin-left: 8px;
    background-color: #fafbfc;
    border-color: rgba(27, 31, 35, 0.15) !important;
    box-shadow: rgba(27, 31, 35, 0.04), rgba(255, 255, 255, 0.25);
    color: #24292e;
    transition: .2s cubic-bezier(.3, 0, .5, 1) !important;
    transition-property: color, background-color, border-color;
    appearance: none;
    border: 1px solid;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 5px 16px;
    position: relative;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none !important;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.browser-python-button:hover {
    background-color: #f3f4f6;
    border-color: rgba(27, 31, 35, 0.15) !important;
    transition-duration: .1s;
    outline-width: 0;
    text-decoration: none;
}

.browser-python {
    margin-top: 16px !important;
    position: relative !important;
    background-color: #fff;
    border: 1px solid #d0d7de;
    border-radius: 6px;
    box-sizing: border-box;
    display: block;
    word-wrap: break-word;
    color: #24292f;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI Variable, Segoe UI, system-ui, ui-sans-serif, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 14px;
    line-height: 1.5;
}

.browser-python-table {
    background: #fff;
    border: 0;
    color: #333;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 2px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 0;
    border-spacing: 0;
    display: table;
    word-wrap: normal;
    box-sizing: inherit;
    border-collapse: collapse;
}

.browser-python-tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.browser-python-tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.browser-python-line-number {
    background: transparent;
    padding: 1px 10px !important;
    min-width: inherit;
    color: #6e7781;
    cursor: pointer;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 12px;
    line-height: 20px;
    border-radius: 6px;
    text-align: right;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 1%;
    word-wrap: normal;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-radius: 6px 6px 0 0;
    overflow: auto;
    text-indent: initial;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    box-sizing: inherit;
    display: table-cell;
    min-width: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.browser-python-line-text {
    border: 0;
    text-align: left;
    background: transparent;
    padding: 1px 10px !important;
    word-wrap: normal;
    color: #24292e;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 12px;
    overflow: visible;
    white-space: pre;
    line-height: 20px;
    position: relative;
    vertical-align: top;
    display: table-cell;
    margin: 0;
    box-sizing: inherit;
    border-collapse: collapse;
    font-weight: 400;
    border-spacing: 0;   
}

.browser-python-body {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-bottom: -1px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 !important;
    border-bottom: 1px solid #d0d7de;
    box-sizing: border-box;
    display: block;
    word-wrap: break-word;
    color: #24292f;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI Variable, Segoe UI, system-ui, ui-sans-serif, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    border-radius: 6px;
}

.browser-python-header-left {
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace!important;
    font-size: 12px!important;
    padding-right: 16px!important;
    order: 1!important;
    flex: auto!important;
    display: block;
    box-sizing: border-box;
    word-wrap: break-word;
    line-height: 1.5;
    color: #24292f;
}

.browser-python-header-right {
    display: flex!important;
    padding-bottom: 0!important;
    padding-top: 0!important;
    order: 2!important;
    flex-grow: 0!important;
    justify-content: space-between!important;
    box-sizing: border-box;
    word-wrap: break-word;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI Variable,Segoe UI,system-ui,ui-sans-serif,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
    line-height: 1.5;
}